/*--------- slider ---------*/
#slide {
    position: relative;
    overflow: hidden;
    width: 520px;
    margin: 35px 0 0 20px;
    z-index: 1;
}

.slider {
    width: 400px;
    height: 286px;
    position: relative;
    z-index: 1;
}

.sliderbk {
    margin-top: 0px;
    background: url(../images/slider-bg-half.png) 0 0 no-repeat;
}

.items {
    display: none;
}

.pagination {
    display: none;
}

.prev {
    position: absolute;
    top: 70px;
    left: 5px;
    display: block;
    width: 30px;
    height: 35px;
    background: url(../images/prev-half.png) 0 0 no-repeat;
    z-index: 99;
}

.prev:hover {
    background-position: 0 bottom;
}

.next {
    position: absolute;
    top: 70px;
    right: 65px;
    display: block;
    width: 30px;
    height: 35px;
    background: url(../images/next-half.png) 0 bottom no-repeat;
    z-index: 99;
}

.next:hover {
    background-position: 0 0;
}

.banner {
    display: none;
}

