/*--------- slider ---------*/
#slide { position:relative; overflow:hidden; width:460px; padding:35px 0px 0 20px; z-index:2;}

.slider { width:460px; height:215px; margin:0 auto; position:relative; z-index:2; }
.items { display:none;}

.pagination { display:none; }

.prev {position:absolute; top:121px; left:25px; display:block; width:30px; height:35px; background:url(../images/prev-half.png) 0 0 no-repeat; z-index:99;}
.prev:hover {background-position:0 bottom;}
.next {position:absolute; top:121px; right:25px; display:block; width:30px; height:35px; background:url(../images/next-half.png) 0 bottom no-repeat; z-index:99;}
.next:hover {background-position:0 0;}

.banner{display:none;}

