/* Global properties ======================================================== */
html, body {width:100%; padding:0; margin:0;}

@font-face {
    font-family: 'Purisa';
    src: url('../fonts/Purisa.eot'); /* For IE */
    src: local('Purisa'),
         url('../fonts/Purisa.ttf') format('truetype');
}

body { 	 
	font-size: 14px/22px; font-family: Purisa, "Times New Roman", Times, serif;
	color:#bf8b37;
	min-width:1000px;
	background: #000000;
}

p {
    color: #47a935;
    font-weight: bolder;
}
.ic {border:30;float:right;background:#ddd;color:#f00;width:50%;line-height:10px;font-size:10px;margin:0 10000% 0 0;overflow:hidden;padding:0}
.main {width:100%; background:url(../images/bg.jpg) center no-repeat;}
/***********************************************************************/
a {text-decoration:none; cursor:pointer;text-decoration:none; }
a:hover {text-decoration:none;}

.link {color:#dd0a00; }
.link:hover {text-decoration:underline;}

.link-1 {font-size:30px; line-height:36px; color:#dd0a00; font-weight:bold; font-family: 'Cabin Sketch', cursive; letter-spacing:-1px; display:inline-block;}
.link-1:hover {color:#777;}
.link-2 {font-size:30px; line-height:36px; color:#0072ff; font-weight:bold; font-family: 'Cabin Sketch', cursive; letter-spacing:-1px; display:inline-block;}
.link-2:hover {color:#b30800;}

.clr-1 { color:#0072ff;}
.clr-2 { color:#47a935;}
.clr-3 { color:#d9a220;}
.clr-4 { color:#b30800;}
.clr-5 { color:#a400b3;}
.clr-6 { color:#000;}
.clr-7 { color:#ddd;}

.text-1 {font-size:18px; line-height:25px; color:#697; font-style:italic;}
.text-2 {font-size:16px; line-height:25px; color:#000; font-style:italic;}

h2 { font-size:40px; line-height:50px; color:#63d; font-weight:bold; font-family: 'Cabin Sketch', cursive; letter-spacing:-1px;}
h3 { margin:0px 0px 0px 0px; font-size:20px; line-height:30px; color:#0072ff;
    font-family: 'Purisa,arial', serif;}
/** andy color 6a2 **/

ul {margin:0; padding:0;list-style-image:none;}
ul.list-1 li {padding:0px 0 0px 14px; line-height:22px; background:url(../images/marker-1.gif) 0 9px no-repeat;}
ul.list-1 li a { font-size:14px; color:#838180; line-height:22px;}
ul.list-1 li a:hover {color:#dd0a00;}

ul.list-2 li {padding:0px 0 0px 14px; line-height:22px; background:url(../images/marker-2.gif) 0 9px no-repeat;}
ul.list-2 li a { font-size:14px; color:#000; line-height:22px;}
ul.list-2 li a:hover {color:#0072ff;}

/******************************************************************/
.clear {clear:both; line-height:0; font-size:0; width:100%;}
.wrapper {width:100%; overflow:hidden; position:relative}
.wrap {overflow:hidden; position:relative}
.extra-wrap {overflow:hidden;}
.fleft {float:left;}
.fright {float:right;}
.img-indent {float:left; margin:3px 20px 0px 0;}	
.last {margin-right:0px !important;}

.top-1 {margin-top:4px;}
.top-2 {margin-top:3px;}
.top-3 {margin-top:2px;}
.top-4 {margin-top:0px;}
.top-5 {margin-top:2px;}
.top-6 {margin-top:0px;}

.left-1 { margin-left:13px;}

.bot-0 {padding-bottom:0 !important; margin-bottom:0 !important;}
.bot-1 {padding-bottom:10px;}
.bot-2 {margin-bottom:0px;}

.pad-0 {padding:0px 0px 0px 0px;}
.pad-1 {padding:10px 0px 44px 30px;}
.pad-2 {padding:22px 0 22px 0; margin-top:24px; text-align:center; overflow:hidden;}
.pad-3 {padding:12px 0px 27px 0px;}
.pad-4 {padding:10px 150px 0 30px;}

.p1 {padding-bottom:22px;}
.p2 {padding-bottom:6px;}
.p3 {padding-bottom:7px;}
.p4 {padding-bottom:13px;}
.p5 {padding-bottom:19px;}
.p6 {padding-bottom:5px;}
.p7 {padding-bottom:12px;}

/*********************************header*************************************/

header {width:1000px; margin:0 auto; z-index:101; right: 0; }

h1 {margin:27px 0 0 63px; display:inline-block; z-index:100;}

nav { z-index:100; background:url(../images/slider-bg-half.png) 0 0 no-repeat; margin:0 0 0 20px; height:300px; overflow:hidden; padding:0px;}

ul.menu {
    padding: 0 5px 0 5px;
    margin:5px 0 5px 0;
    display:inline-block;
    background: #dfdfdf;
    width: 835px;
    border: solid beige;
    border-right-color: #cdcdcd;
    border-bottom-color: #cdcdcd;
}
ul.menu li {float: left; line-height:50px; margin:0 90px 0 0; }
ul.menu li a {font-size:20px;
    line-height:35px;
    font-family: 'Cabin Sketch', cursive;
    text-transform:uppercase;
    font-weight:bolder;
    letter-spacing:-2px;
    display:block;
}
ul.menu li:hover a , ul.menu li.current a { border-bottom: 1px solid currentColor; text-decoration: none; }

.registerinterestcontainer {
    margin: 20px 10px 20px 30px;
    padding: 10px 3px 10px 3px;
    width: 510px;
    height: 60px;
    background-color: #ffffff;
}
.inputlabel {
    margin:  0 5px 0 5px;
    float: left;
    color: #13610b;
    font-size: 13px;
    background-color: inherit;
}
.inputtextbox {
    float: right;
    margin:  1px 2px 1px 5px;
    padding: 2px 3px 2px 3px;
    color: #040646;
    font-size: 11px;
    border: thin #6633dd;
    background-color: #47a935;
    width: 210px;
    border-radius: 7px;
}
.registerinterestbutton {
    float: right;
    margin: 8px 12px 5px 5px;
    padding: 5px 5px 5px 5px;
    border: ridge #a8d8d5;
    font-size: 22px;
    min-font-size: 15px;
    background-color: #47a935;
    color: #ffffff;
    border-radius: 20px;
}


/*********************************content*************************************/
#content {
    width:1000px;
    margin: auto;
    bottom: auto;
}

.art {background:url(../images/art.png) 0 0 no-repeat; width:320px; height:159px; margin:0 0 0 -30px;}

.block-1 {background: url(../images/block-1.gif) 0 bottom repeat-x #fff;}
.block-1-shadow {background:url(../images/block-1-shadow.png) 0 0 repeat-y; padding:18px 30px 0 30px;}

.img-border {border:#eee 10px solid; box-shadow: 0 0 5px #c1c1c1; display:inline-block;}
.box-1 {float:left; margin-right:20px;}
.box-1 p.text-2 {margin:7px 0 0px 11px;}

.lists {overflow:hidden; margin-top:12px;}
.lists ul {float:left; width:270px; margin-right:20px;}

.table {width:560px;color:#000; margin-bottom:0px;} 
.table tr {border-top:#d6d6d6 1px solid;}
.table tr th {width:145px; text-align:left; font-weight:bold; padding-bottom:0px;}
.table tr th.last {width:125px;}
.table tr:first-child {border-top:none;}
.table tr td {padding:0px 0 0px 0;}
.table tr td span {display:block;}

.box-2 { float:left; width:270px; margin-right:20px; color:#000;}

/****************************footer************************/
footer { float: left; width:100%; position:relative; overflow:hidden; text-align:center; padding:33px 0 30px 0;}

/**********************form**********************/
/*.map {width:250px; height:164px; border:#ddd 10px solid; background:#ddd; margin-top:8px; }*/
/*.map iframe {width:250px; height:164px; }*/
/*dl {margin:18px 0px 0 0px;}*/
/*dl dt {}*/
/*dl dd span { color:#ddd;}*/
/*dl dd {}*/
/*dl dd a {}*/
/*dl dd a:hover {}*/
/*#form { margin: 7px 0 0px 10px; width:560px; }*/
/*#form input {border:#e0e0e1 1px solid; background:#ddd; font-size:14px; font-family: Georgia, "Times New Roman", Times, serif; color:#000;padding:3px 10px 5px 10px;outline: medium none;width: 247px; height:17px; float:left; box-shadow: 0 0 3px #c1c1c1;}*/
/*#form textarea {border:#e0e0e1 1px solid; background:#ddd;font-size:14px; font-family: Georgia, "Times New Roman", Times, serif;color:#000; height: 370px;outline: medium none;overflow: auto;padding: 3px 0px 0px 10px;width: 465px;resize:none;margin:0px 0 0 0;float:left; box-shadow: 0 0 3px #c1c1c1;}*/
/*#form label {position:relative;display: block;min-height:35px;}*/
/*.btns {text-align:center; margin-left:82px; overflow:hidden;}*/
/*.btns a {display:inline-block; margin:0 15px 0 15px;}*/
/*#form label strong {float:left; display:inline-block; padding-top:3px; width:82px; color:#000; line-height:20px;} */

.text_line {
    clear: both;
    margin: 0 auto;
    padding: 0;
}
.leftaside {
    float: left;
}
.middle { margin: 0 auto; }
.rightaside {
    float: right;
}

