* {
    padding: 0;
    margin: 0;
}

section, footer, aside, nav, figcaption, figure {
    display: block;
}

html, body {
    width: 100%;
    background: darkseagreen;
    text-align: center;
}

@font-face {
    font-family: 'Purisa';
    src: local('Purisa'),
    url('../fonts/Purisa.ttf') format('truetype');
}

body {
    text-align: center;
    font-size: medium;
    font-family: Purisa, "Times New Roman", Times, serif;
    color: #bf8b37;
}

#main_header {
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
    background: white;
    top: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.link {
    color: #dd0a00;
}

.link:hover {
    text-decoration: underline;
}

.link-1 {
    font-size: 30px;
    line-height: 36px;
    color: #dd0a00;
    font-weight: bold;
    font-family: 'Cabin Sketch', cursive;
    letter-spacing: -1px;
    display: inline-block;
}

.link-1:hover {
    color: #777;
}

.link-2 {
    font-size: 30px;
    line-height: 36px;
    color: #0072ff;
    font-weight: bold;
    font-family: 'Cabin Sketch', cursive;
    letter-spacing: -1px;
    display: inline-block;
}

.link-2:hover {
    color: #b30800;
}

#main_menu {
    background: white;
    padding-bottom: 0;
    padding-left: 200px;
    padding-right: 20px;
    font-weight: bold;

    font-family: Purisa, "Times New Roman", Times, serif;
    text-transform: uppercase;

    background: -webkit-gradient(linear,
    left top,
    left bottom,
    color-stop(0%, seagreen),
    color-stop(40%, darkseagreen),
    color-stop(100%, mediumseagreen));

    background: -moz-linear-gradient(top, seagreen, darkseagreen, mediumseagreen);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    transform: translate(0, -70px);
}

#main_menu li {
    display: inline-block;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#main_menu li a {
    font-size: 17px;
    line-height: 35px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    -webkit-transition-property: color, background;
    -webkit-transition-duration: 0.5s, 0.5s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

form {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 980px;
    margin: auto;
    text-align: left;
}

#main_section {
    width: 980px;
    margin-top: 120px;
    box-sizing: border-box;
}

#main_footer {
    clear: both;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}

.clear {
    clear: both;
}

article {
    vertical-align: top;
    display: inline-block;
    background: #FFFBCC;
    padding: 10px;
    margin: 5px;
    max-width: 450px;
    border-radius: 10px;
}

time {
    color: #999999;
}

p {
    font-weight: bolder;
    font-size: 13px;
    margin: 12px 5px;
}

h1 {
    font-size: small;
    color: red;
    font-weight: bold;
    letter-spacing: -1px;
}

h2 {
    font-size: larger;
    color: #63d;
    font-weight: bold;
    letter-spacing: -1px;
}

h3 {
    font-size: 30px;
    color: red;
    font-family: 'Cabin Sketch', serif;
}

.registerinterestcontainer {
    margin: 10px 30px 0 0;
    padding: 10px 45px 10px 0;
    width: auto;
    height: 290px;
    background: url("../images/paintbrush.png") no-repeat;
}

.inputtextbox {
    float: left;
    margin: 160px 20px 20px 40px;
    padding: 9px 5px 6px 5px;
    color: blue;
    font-size: 17px;
    background-color: orangered;
    border-radius: 8px;
}

.registerinterestbutton {
    display: block;
    float: none;
    margin: 10px 0 0 40px;
    padding: 8px 20px 5px 20px;
    color: #a8d8d5;
    font-size: 17px;
    background-color: #140676;
    border-radius: 8px;
    cursor: pointer;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.inlineblocked {
    display: inline-block;
    text-align: left;
}

.centered {
    text-align: center;
}

.fixed {
    position: fixed;
}

.artymonkeyslogo {
    padding: 0;
    margin: 0;
}

.artymonkeysimage {
    padding: 0 10px 0 0;
    margin: 0 15px 0 0;
}

.fixedContainer {
    width: 100%;
    background-color: white;
    position: fixed;
    left: 0%;
    top: 0%;
    transform: translate(0%, 0%);
    box-shadow: 0 5px 10px #deeede;
    z-index: 10;
}

.clr-home {
    color: red;
}

.clr-about {
    color: #0072ff;
}

.clr-skills {
    color: yellow;
}

.clr-classes {
    color: violet;
}

.clr-contact {
    color: orange;
}

.clr-yvonne {
    color: chocolate;
}

.clr-kelley {
    color: blue;
}

.borderround {
    border-radius: 10px;
}

.about_us_top_margin {
    padding-top: 30px;
}

.skills_top_margin {
    padding-top: 70px;
}

.classes_top_margin {
    padding-top: 70px;
}

img {
    margin: 5px 20px 10px 0;
}

table {
    border-collapse: collapse;
    box-shadow: 5px 5px 10px seagreen;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    margin: 2px 0 2px 30px;
}

li {
    margin: 10px 0;
    font-style: italic;
    color: lightgoldenrodyellow;
}
table, th, td {
    border: 1px solid #140676;
}

th {
    padding: 10px 0;
    background-color: #140676;
    color: orange;
    align-content: center;
    text-align: center;
    min-width: 310px;
}

td {
    font-weight: bold;
    background: lightslategrey;
    color: yellow;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
}

ul.menu ul.menu li.current a {
    border-bottom: 1px solid currentColor;
    text-decoration: none;
    -webkit-transition-property: color, background;
    -webkit-transition-duration: 0.5s, 0.5s;
}
