* {
    padding: 0;
    margin: 0;
}

header, section, footer, aside, nav, article, figcaption, figure {
    display: block;
}

html, body {
    width: 100%;
}

@font-face {
    font-family: 'Purisa';
    src: local('Purisa'),
    url('../fonts/Purisa.ttf') format('truetype');
}

body {
    text-align: center;
    font-size: medium;
    font-family: Purisa, "Times New Roman", Times, serif;
    color: #bf8b37;
    background: white;
}

#wrapper {
    width: 960px;
    margin: 15px auto;
    text-align: left;
}

#main_header {
    background: #FFFBB9;
    border: 1px solid #999999;
    padding: 20px;
}

#main_menu {
    background: #CCCCCC;
    padding: 5px 15px;
}

#main_menu li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font-family: Purisa, "Times New Roman", Times, serif;
    text-transform: uppercase;
}

#main_section {
    float: left;
    width: 660px;
    margin: 20px;
}

#main_footer {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}

article {
    background: #FFFBCC;
    border: 1px solid #999999;
    padding: 20px;
    margin-bottom: 15px;
}

time {
    color: #999999;
}

p {
    color: green;
    font-weight: bolder;
}

h1 {
    font-size: small;
    color: red;
    font-weight: bold;
    letter-spacing: -1px;
}

h2 {
    font-size: larger;
    color: #63d;
    font-weight: bold;
    letter-spacing: -1px;
}

h3 {
    font-size: large;
    color: #0072ff;
    font-family: 'Cabin Sketch', serif;
}

